main{
    display:table;
    height:200px;
    width:100%;
    outline:solid red;
    text-align:center;
    vertical-align: middle;
}

main .macro-box{
    display:table-cell;
    height:100%;
    width:30%;
    text-align:center;
    outline:solid yellow;
    vertical-align: middle;
    
}
main div .mini-box{
    height: 50px;
    width:50px;
    border-radius:20px;
    transition:all 0.5s;
}
/*pseudo-class*/
main div:nth-child(1) .mini-box:hover{
    height: 120px;
    width:60px;
    cursor:pointer;
    background-color: crimson;
}
/*pseudo-class*/
main div:nth-child(2) .mini-box:hover{
    height: 50px;
    width:120px;
    cursor:pointer;
    background-color: darkmagenta;
}
/*pseudo-class*/
main div:nth-child(3) .mini-box:hover{
    height: 100px;
    width:100px;
    cursor:pointer;
    border-radius:50% 0px 50% 50%;
}

main div:first-child .mini-box{
    background-color: aqua;
}
main div:nth-child(2) .mini-box{
    background-color: black;
}
main div:nth-child(3) .mini-box{
    background-color: coral;
}